/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,800&display=swap');

/* colors */
:root{
    --accent-dark : rgb(231, 185, 150);
    --accent-light : rgb(165, 46, 2);
}

body{
    font-family: roboto;
}

p{
    padding: 3vw;
}

button{
    border: 2px solid var(--accent-dark);
    background-color: transparent;
    border-radius: 5%;
    padding:1% 2%;
    color: var(--accent-dark);
    font-weight: bold;
    margin: 3%;
}

.light-mode button {
    color: var(--accent-light);
    border: 2px solid var(--accent-light) ;
}

img{
    max-width: 100%;
}

.wow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
}

.wow::after{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: tomato;
}
  
/* .wow:hover {
    animation: hoverCardTransition 0.3s ease;

} */

  @keyframes hoverCardTransition{
   0%{
    transform: translateX(0px);
   }
   0%{
       transform: translateX(100px);
   }
  }

.light-mode{
    background-color: rgb(248, 248, 248);
    color: rgb(20, 20, 20);
}

.light-mode h1{
    color:var(--accent-light);
}

.dark-mode{
 
    background-color: rgb(34, 35, 36);
    color: white;
}


.dark-mode  h1{
    color:var(--accent-dark);
    font-size: 3em;
}

h1{
    font-size: 5em;
    font-weight: 900;
}

.dark-mode h2{
    color: white;
    border: 2px solid white;
    border-radius: 5%;
    padding: 2%;
}

.title{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2%;
}
/* BOUTON SOCIAL */

.social-button{
    display: flex;
    flex-direction: row;
    margin: 2vw;
}

.effect {
    display: flex;
  }
  .effect a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    color: var(--accent-dark);
    border: 2px solid var(--accent-dark);
  }
  .effect a i {
    position: relative;
    z-index: 3;
  }

  .effect a:last-child {
    margin-right: 0px;
  }
  .effect a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .effect a i {
    display: inline-block;
    vertical-align: middle;
  }

  .effect.varrius a {
    transition: all 0.2s linear 0s;
  }
  .effect.varrius a:after {
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    top: -110%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: var(--accent-dark);
    border-radius: 50%;
  }
  .effect.varrius a:hover {
    color: #fff;
  }
  .effect.varrius a:hover:after {
    top: 5%;
    transition: all 0.2s linear 0s;
  }
  