$myColor : rgba(0, 128, 172, 1)
$prismeColor: #F39B6D

// General post style
.contentWrapper
  display: flex
  flex-direction: column
  width: 100%
  justify-content: center
  align-items: center

  .postContainer
    justify-content: center
    display: flex
    flex-direction: column
    width: 50%

  p
    font-size: 1.2em
    margin: 2vh 2vh


  .titleH2
    font-weight: 900
    font-size: 2em
    color: $prismeColor
    margin-left: 2%

  .incipitBox p 
    font-weight: 700

// "Hero section"  
.heroWrapper
  width: 100vw
  height: 100vh
  position: relative
  display: flex
  justify-content: center

  img 
    position: absolute
    top: 2%
    right: 5%
    width: 50%
    height: 70%

  .heroTitle
    z-index: 99
    position: absolute
    font-size: 5vw
    bottom: 5%
    left: 5%
    width: 50%
    color: #d6d5d5


  .etiqueteBox
    position: absolute
    font-size: 2vw
    color: white
    bottom: 5%
    right: 5%
    display: flex
    flex-direction: row

    .heroEtiquette
      color: $prismeColor
      
// Incipit box

.incipitBox
  border-radius: 5px
  font-size: 1.5em









//   color:  linear-gradient(to right, #fddd10, #ff6c2c, #e5e, #2fabe1)
//   animation: gradientBackground 10s alternate ease-in-out
//   animation-iteration-count: infinite

// @keyframes gradientBackground
//   0%
//     background-position: left
//   100%
//     background-position: right